/* regole generali */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 233, 233);
}

/* header */

header{
    height: 70px;
    background-color: white;
}

#logo{
    padding: 10px 20px;
    line-height: 90px;
    vertical-align: middle;

}

#logo-text{
    font-size: 40px;
    font-weight: 800;
}

/* corpo */

#container{
    width: 80%;
    margin: 40px auto;
    background-color: white;
}

/* section insert */

#buttons{
  margin: 20px;
  padding: 15px;
  border-bottom: solid 1px rgb(233, 233, 233);
}

.button1{
    background-color: #008CBA;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    
}
.button2{
    background-color:white;
    color: lightgray;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-color:lightgray ;
    
}

