/* regole generali */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(233, 233, 233);
}

/* header */

header{
    height: 70px;
    background-color: white;
    line-height: 70px;
}

#logo{
    padding: 10px 20px;
    vertical-align: middle;
    display: inline;

}

#logo-text{
    font-size: 40px;
    font-weight: 800;
    vertical-align: middle;
    display: inline;
}

/* corpo */

#container{
    width: 80%;
    margin: 40px auto;
    background-color: white;
}

/* section insert */

#buttons{
  margin: 20px;
  padding: 15px;
  border-bottom: solid 1px rgb(233, 233, 233);
}

.button1{
    background-color: #008CBA;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    
}
.button2{
    background-color:white;
    color: lightgray;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-color:lightgray ;
    
}

/* section list */

#list-elements{
    margin: 20px;
    padding: 15px;

}

/* titolo task */


#entity-freccia{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 35px;
}

strong{
    font-size: 20px;
}

.fatto{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;

}

.non-fatto{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;

}

#todo-text{
    display: inline-block;
}



.editorial {
    display: inline-block;
    background-color: #008CBA;
    width: 55px;
    height: 25px;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px ;
    border-radius: 10px;
    
}

.Q1goal{
    display: inline-block;
    background-color: #ba00a1;
    width: 55px;
    height: 25px;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px ;
    border-radius: 10px;

}

.recruting{
    display: inline-block;
    background-color: #00ba5d;
    width: 55px;
    height: 25px;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px ;
    border-radius: 10px;

}

.Website{
    display: inline-block;
    background-color: #ff00b3;
    width: 55px;
    height: 25px;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px ;
    border-radius: 10px;

}

.sales{ 
    display: inline-block;
    background-color: #00c510;
    width: 55px;
    height: 25px;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px ;
    border-radius: 10px;

}







